---

---

<!doctype html>
<html lang="en" class="bg-slate-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Come to Olympos!</title>
  </head>
  <body
    class="py-24 mx-auto prose-xl prose-headings:font-serif prose-h1:underline prose-h1:underline-offset-4 prose-headings:font-bold prose-headings:text-4xl prose-neutral max-w-3xl text-xl prose-img:rounded-2xl prose-blockquote:py-1.5 prose-blockquote:px-8 prose-blockquote:bg-yellow-50 prose-blockquote:border-l-8 prose-blockquote:border-yellow-200 prose-blockquote:rounded-r-xl prose-ul:list-disc">
    <slot />
  </body>
</html>
